
$b:#444444;
$darc-b:#222222;
$w:#ffffff;
$darck-w:#eeeeee;
$red:#e24545;
$gray-l:#e6e6e6;
$gray-sl:#f6f6f6;
$gray-b:#dddddd;
$gray:#888888;
$border-i:#cccccc;

$font:'Montserrat', sans-serif;

$light:300;
$regular:400;
$medium:500;
$s-bold:600;
$bold:700;