<div class="container">
    <div class="subscribe d-flex justify-content-between align-items-center">
        <p class="subscribe-text">
            subscribe to latest smartphones news & great deals we offer
        </p>
        <form id="subscribe-form" onsubmit="return validateForm();">
            <input type="email" class="mail-field w-100" placeholder="Enter Your Email Address ...">
            <button type="submit" class="mail-icon btn" formnovalidate>
                <i class=" far fa-envelope"></i>
            </button>
        </form>

        <ul class="links-list d-flex">
            <li class="links-item">
                <a href="#" class="link-icon btn btn-outline-secondary">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li class="links-item">
                <a href="#" class="link-icon btn btn-outline-secondary">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>
            <li class="links-item">
                <a href="#" class="link-icon btn btn-outline-secondary">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </li>
            <li class="links-item">
                <a href="#" class="link-icon btn btn-outline-secondary">
                    <i class="fab fa-google-plus-g"></i>
                </a>
            </li>
            <li class="links-item">
                <a href="#" class="link-icon btn btn-outline-secondary">
                    <i class="fab fa-pinterest-p"></i>
                </a>
            </li>
            <li class="links-item">
                <a href="#" class="link-icon btn btn-outline-secondary">
                    <i class="fab fa-youtube"></i>
                </a>
            </li>
            <li class="links-item">
                <a href="#" class="link-icon btn btn-outline-secondary">
                    <i class="fas fa-rss"></i>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="copiright-wrapper ">
    <div class="copiright container d-flex justify-content-between align-items-center">
        <div class="copiright-text">
            Copyright © 2015 
            <span class="marked">codeitStore</span>
            All Rights Reserved.
        </div>
        <ul class="pay-card-list d-flex">
            <li class="pay-cards-item"><img src="./img/cards/visa-electorn.png" alt="" class="card-logo"></li>
            <li class="pay-cards-item"><img src="./img/cards/paypal.png" alt="" class="card-logo"></li>
            <li class="pay-cards-item"><img src="./img/cards/visa.png" alt="" class="card-logo"></li>
            <li class="pay-cards-item"><img src="./img/cards/master-card.png" alt="" class="card-logo"></li>
            <li class="pay-cards-item"><img src="./img/cards/maestro.png" alt="" class="card-logo"></li>
            <li class="pay-cards-item"><img src="./img/cards/discover.png" alt="" class="card-logo"></li>
        </ul>
    </div>
</div>