<section class="navigation container">
    <nav class="navbar navbar-expand-lg navbar-light p-0">
        <a class="logo d-flex flex-column" href="#">
            <span class="title">
                code<span class="marked">it</span>
            </span> 
            <span class="sub-title">store</span>
        </a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="nav-wrapper collapse navbar-collapse justify-content-end" id="navigation">

            <ul class="nav-list navbar-nav">
                <li class="item">
                    <a href="#" class="link">home</a>
                </li>

                <li class="item dropdown">
                        <a class="link " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            all brands<i class="fas fa-chevron-down"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>

                <li class="item">
                    <a href="#" class="link">latest</a>
                </li>

                <li class="item">
                    <a href="#" class="link">featured</a>
                </li>

                <li class="item">
                    <a href="#" class="link">about</a>
                </li>

                <li class="item">
                    <a href="#" class="link">blog</a>
                </li>

                <li class="item">
                    <a href="#" class="link">contact</a>
                </li>

                <li class="item">
                    <a href="#" class="link"><i class="fas fa-search"></i></a>
                </li>
            </ul>
            <div class="chip-basket d-flex">
                <i class="lock-pick fas fa-lock"></i> 
                <p class="basket-content">
                    $<span class="price"> 460.00</span>
                </p>
                <div class="circle d-flex justify-content-center align-items-center">2</div>
            </div>
        </div>
    </nav>
</section>

<section class="saturation-wrapper">
    <div class="saturation container d-flex justify-content-between">
        <h2 class="page-title">My wishlist</h2>
        <nav aria-label="breadcrumb" class='crumb'>

            <ol class="crumbs-list breadcrumb">
                <li class="crumbs-item breadcrumb-item">
                    <a class="crumbs-link" href="#">Home</a>
                </li>
                <li class="crumbs-item current breadcrumb-item active" aria-current="page">My wishlist</li>
            </ol>
        </nav>
    </div>
</section>