<div id="carouselExampleSlidesOnly" class="slide-show carousel slide container" data-ride="carousel">
    <div class="content carousel-inner">
        <div class="carousel-item active">
            <ul class="feature-list">
                <li class="features-icon">
                    <i class="icon fas fa-thumbs-up"></i>
                    <div class="features-description">
                        <p class="title">Full warrenty</p>
                        <p class="info">
                            Read About Our Warrenty
                        </p>
                        <hr class="stroke">
                    </div>
                </li>
                <li class="features-icon">
                    <i class="icon fas fa-truck"></i>
                    <div class="features-description">
                        <p class="title">express shipping</p>
                        <p class="info">
                            Local & International Shipping
                        </p>
                        <hr class="stroke">
                    </div>
                </li>
                <li class="features-icon">
                    <i class="icon fas fa-comment-dots"></i>
                    <div class="features-description">
                        <p class="title">mobile blog</p>
                        <p class="info">
                            Discuss Your Favourite Phone
                        </p>
                        <hr class="stroke">
                    </div>
                </li>
                <li class="features-icon">
                    <i class="icon fas fa-headphones"></i>
                    <div class="features-description">
                        <p class="title">24/7 Support</p>
                        <p class="info">
                            Get Full Support via Chat
                        </p>
                        <hr class="stroke">
                    </div>
                </li>
            </ul>
        </div>
        <div class="carousel-item">
            <ul class="feature-list">
                <li class="features-icon">
                    <i class="icon fas fa-thumbs-up"></i>
                    <div class="features-description">
                        <p class="title">Full warrenty</p>
                        <p class="info">
                            Read About Our Warrenty
                        </p>
                        <hr class="stroke">
                    </div>
                </li>
                <li class="features-icon">
                    <i class="icon fas fa-comment-dots"></i>
                    <div class="features-description">
                        <p class="title">mobile blog</p>
                        <p class="info">
                            Discuss Your Favourite Phone
                        </p>
                        <hr class="stroke">
                    </div>
                </li>
                <li class="features-icon">
                    <i class="icon fas fa-headphones"></i>
                    <div class="features-description">
                        <p class="title">24/7 Support</p>
                        <p class="info">
                            Get Full Support via Chat
                        </p>
                        <hr class="stroke">
                    </div>
                </li>
                <li class="features-icon">
                    <i class="icon fas fa-truck"></i>
                    <div class="features-description">
                        <p class="title">express shipping</p>
                        <p class="info">
                            Local & International Shipping
                        </p>
                        <hr class="stroke">
                    </div>
                </li>
            </ul>
        </div>
        <div class="carousel-item">
            <ul class="feature-list">
                <li class="features-icon">
                    <i class="icon fas fa-truck"></i>
                    <div class="features-description">
                        <p class="title">express shipping</p>
                        <p class="info">
                            Local & International Shipping
                        </p>
                        <hr class="stroke">
                    </div>
                </li>
                <li class="features-icon">
                    <i class="icon fas fa-headphones"></i>
                    <div class="features-description">
                        <p class="title">24/7 Support</p>
                        <p class="info">
                            Get Full Support via Chat
                        </p>
                        <hr class="stroke">
                    </div>
                </li>
                <li class="features-icon">
                    <i class="icon fas fa-comment-dots"></i>
                    <div class="features-description">
                        <p class="title">mobile blog</p>
                        <p class="info">
                            Discuss Your Favourite Phone
                        </p>
                        <hr class="stroke">
                    </div>
                </li>
                <li class="features-icon">
                    <i class="icon fas fa-thumbs-up"></i>
                    <div class="features-description">
                        <p class="title">Full warrenty</p>
                        <p class="info">
                            Read About Our Warrenty
                        </p>
                        <hr class="stroke">
                    </div>
                </li>
            </ul>
        </div>
        
    </div>
</div>